{% extends "base.html" %}
{% block title %}Popular{% endblock title %}
{% block body %}
<section class="popular-manga py-5 bg-light">
    <div class="container">
      <h2 class="text-center fw-bold mb-5">Popular Manga</h2>
      <div class="row g-4">
        {% for manga in random_manga %}
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm h-100" >
              <img src="{{ manga.image_url }}" style="height: 300px;" class="card-img-top" alt="{{ manga.title }}">
              <div class="card-body">
                <h5 class="card-title fw-bold">{{ manga.title }}</h5>
                <p class="card-text text-muted">{{ manga.description|truncatechars:100 }}</p>
                <p><strong>Chapters:</strong> {{ manga.chapter_count|default:"N/A" }}</p>
                <p><strong>Rating:</strong> ⭐{{ manga.rating|default:"N/A" }}</p>
                <a href="{% url 'read_manga' genre=manga.genre|lower manga_title=manga.title|slugify chapter_number=1 %}" class="btn btn-primary mt-3 w-100">Read Now</a>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
</section>
{% endblock body %}
